<h3>Turma:</h3>
<input class= "input"[(ngModel)]="nomeTurma"> 
<button (click)="carregarMatriculas()">Ok</button>

<table>
     <tr *ngIf="matriculas.length > 0">
        <th>Nome</th>
        <th>CPF</th>
        <th>e-mail</th>
        <th>Monitor</th>
     </tr>
     <tr *ngFor="let a of matriculas;">
        <td>{{a.aluno.nome}}</td>
        <td>{{a.aluno.cpf}}</td>
        <td>{{a.aluno.email}}</td>
        <td><select name="monitores" id="monitores">
         <option value="" selected disabled hidden>Selecionar Monitor</option>  
         <option *ngFor="let b of monitores" value={{b.aluno.nome}}>{{b.aluno.nome}}</option>
       </select></td>
 
     </tr>
</table>